<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.navdrawer">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_barbero02"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_barbero02"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HerediaActivity"
            android:label="@string/title_activity_heredia"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".RestaurarActivity"
            android:label="@string/title_activity_restaurar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_staAna"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistroActivity"
            android:label="@string/title_activity_registro"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
                android:name=".CentroActivity"
                android:label="@string/title_activity_centro"
                android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>